# Secret
config/

# Environment
.idea
.DS_Store
*.py[co]
__pycache__

# Bulk files
/static/
/media/
/logs/
/venv/
node_modules/
generated/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Other
